<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLiteConnection"
			 connectionString="Data Source=PlayScore.db;Version=3;"/>
	</connectionStrings>
	<appSettings>
		<add key="API_KEY_MOON" value="90ea2d467aac4e4dbf7685da3e15e0a4"/>
		<add key="API_KEY_GAMES" value="06e6b934655747e585cf14eee38428c0"/>
		<add key="CONNECTION_NAME" value="PlayScore.db"/>
	</appSettings>
</configuration>