<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>Lbn8owAVcDiZ3xUlIzmT5nRKMT27G6u+SUmPT5W4d5QNH4K3zvR/bXpR3k+186lFEzli4gWy9kZOfv7ou7Tv6Hn2ylxK20T68GxmQ73z/kz8TiYD2kAnXbv16JjhBtQ7CFjSTu+zFLOqRp9FLHpcgVknfyIBou0+ZeMp+Din0X9WnInaBF8m/2BDnwAOWUdYUQ0ovPD9dWIy8vUZkd2mfWzAIa4KJZ3JOqDuo+xxaNkd6WmI4Ig6CKVlo1aRbBUVzwBrkC6WyfQLuZngxiYboABRgKLRggWFvhim146MBIMP8Fk2ShmbLLJEMemKHpLiQQUD1az4nPHhQiPHdqV+Og==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>puZVf+2oMd3UJqQPojCtWz4FGMt/B0BEBABVojfd8TE=</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
</configuration>